html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#chart-container {
  display: block;
  height: 14rem;
  width: 26rem;
  overflow: hidden;
}

#chart-container1 {
  display: block;
  height: 14rem;
  width: 26rem;
  overflow: hidden;
}

#chart-container2 {
  display: block;
  height: 14rem;
  width: 26rem;
  overflow: hidden;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 3rem;
  transition: opacity .3s ease;
}

.light-trading-chart {}

.light-trading-chart__wrapper {

}