html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  height: 14rem;
  width: 26rem;}

.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 3rem;
  transition: opacity .3s ease;
}

.light-trading-chart {}

.light-trading-chart__wrapper {
  position: relative;
}

.light-trading-chart__overlay-point {
  animation-name: overlay-point-show;
  animation-duration: .3s;
  transform-origin: center;
  transition: all .3s ease; 
}

@keyframes overlay-point-show {
  0% {
    opacity: 0;
  } 
  
  100% {
    opacity: 1;
  }
}